<h1><%= album.singerName %>'s Detail Page</h1>
<h4>Create a New Song</h4>
<form action="/albums/<%= album.id %>/songs" method="POST">
  <div class="form-group">
    <label for="songName">Song Name </label>
    <input
      type="text"
      class="form-control"
      id="songName"
      name="songName"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h1>Songs</h1>

<ul>
  <% album.songs.forEach(song => { %>
  <li><a href='/albums/<%=album.id%>/songs/<%=song.id%>/edit'><%= song.songName %></a>
    <form
    action="/albums/<%= album.id %>/songs/<%= song.id %>?_method=DELETE"
    method="POST"
  >
    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
  </form>
  </li>

  <% }) %>
</ul>